In [1]:
import sys
sys.path.append('/Users/avgalichin/Documents/kaggle/Jigsaw2022')
from tqdm import tqdm
import pandas as pd
import matplotlib.pylab as plt
import tensorflow as tf
from transformers import TFAutoModel, AutoTokenizer, RobertaConfig

from src.models import RobertaModel
from src.dataset import JigsawDatasetPaired, DummyJigsawDataset

In [2]:
data_df = pd.read_csv('/Users/avgalichin/Documents/kaggle/Jigsaw2022/Datasets/val/ruddit_data.csv')
print(data_df.shape)
data_df.head()

(570, 5)

,comment_id,label,label_group,input_ids,attention_mask
0,cza47xu,-0.062,7.0,"[0, 100, 218, 75, 206, 51, 214, 143, 430, 4, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,cza8437,0.042,9.0,"[0, 32523, 4, 125, 22, 19027, 1938, 113, 16, 4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,cza8lst,-0.042,8.0,"[0, 3084, 4, 24839, 16, 7594, 14, 5, 2249, 11,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,czaeclj,0.083,10.0,"[0, 27847, 282, 75, 24, 67, 1266, 5, 1623, 280...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,czjeljo,0.104,10.0,"[0, 2709, 162, 16, 5, 1762, 9, 3031, 8066, 6, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [3]:
cfg = {
    'data_path': ['/Users/avgalichin/Documents/kaggle/Jigsaw2022/Datasets/train/pair_ruddit_data.csv'],
}
data = DummyJigsawDataset(**cfg)
data.dataset

In [4]:
for ex in data.dataset.take(1):
    pass

In [5]:
dataset = data.dataset.unbatch()

input_lhs = dataset.map(
    lambda x, y: x)
input_rhs = dataset.map(
    lambda x, y: x)
input_data = tf.data.Dataset.zip((input_lhs, input_rhs))

input_data

In [7]:
for ex in input_data.take(1):
    ex, _ = tf.unstack(ex[0], axis=-1)

In [9]:
tf.shape(ex)[0]

In [2]:
cfg = {
    'data_path': ['/Users/avgalichin/Documents/kaggle/Jigsaw2022/Datasets/train/pair_ruddit_data.csv'],
    'max_length': 256,
    'pad_token': 1,
    'split_token': 2,
    'batch_size': 4,
    'n_epochs': None,
    'shuffle': True,
    'shuffle_buffer_size': int(100)
}

data = JigsawDatasetPaired(**cfg)
data.dataset

In [4]:
for ex in data.dataset:
    pass

In [13]:
def insert(x):
    x[0] = 2
    return x

data_df.loc[:, 'input_ids'] = data_df.input_ids.apply(insert)

In [14]:
data_df.to_csv('/Users/avgalichin/Documents/kaggle/Jigsaw2022/Datasets/val/pair_ruddit_data.csv', index=False)

In [59]:
for i in data_df.index.values:
    cur_list = np.array(data_df.loc[i, 'input_ids'])
    new_list = cur_list[:np.where(cur_list == 1)[0][0]]
    
    data_df.loc[i, 'input_ids'] = new_list

ValueError: Must have equal len keys and value when setting with an iterable

In [57]:
data_df.loc[:, 'input_ids'] = data_df.input_ids.apply(lambda x: x[:np.where(np.array(x) == 1)[0][0]])
data_df.head()

IndexError: index 0 is out of bounds for axis 0 with size 0

In [22]:
tokenizer.decode(tokenizer('Fuck u', "Aboba")['input_ids'])

'<s>Fuck u</s></s>Aboba</s>'

In [14]:
tokenizer.eos_token

'</s>'

In [12]:
tokenizer.decode([1])

'<pad>'

In [11]:
tokenizer.encode('<s>')

[0, 0, 2]

In [4]:
tokenizer = AutoTokenizer.from_pretrained('roberta-base')

In [2]:
data_dir = '/Users/avgalichin/Documents/kaggle/Jigsaw2022/Datasets/train/ub_data_sorted.csv'
data_df = pd.read_csv(data_dir)
print(data_df.shape)
data_df.head()

(310304, 4)

,id,label,input_ids,attention_mask
0,478544,0.020591,"[0, 25101, 8372, 8, 66, 12, 1116, 12, 6406, 8,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,337543,0.000000,"[0, 8346, 6, 38, 33, 7, 5170, 141, 24705, 473,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,5154914,0.020591,"[0, 133, 194, 11210, 3878, 7, 997, 7, 1597, 13...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,783447,0.020591,"[0, 113, 42301, 2857, 116, 166, 218, 75, 240, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,468970,0.000000,"[0, 24017, 4, 6142, 54, 4548, 41, 490, 7159, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [12]:
data_df.loc[:, 'input_ids'] = data_df.input_ids.apply(lambda x: list(map(int, x[1:-1].split(', '))))
data_df.loc[:, 'attention_mask'] = data_df.attention_mask.apply(lambda x: list(map(int, x[1:-1].split(', '))))
data_df.head()

,comment_id,label,label_group,input_ids,attention_mask
0,cza47xu,-0.062,7.0,"[0, 100, 218, 75, 206, 51, 214, 143, 430, 4, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,cza8437,0.042,9.0,"[0, 32523, 4, 125, 22, 19027, 1938, 113, 16, 4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,cza8lst,-0.042,8.0,"[0, 3084, 4, 24839, 16, 7594, 14, 5, 2249, 11,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,czaeclj,0.083,10.0,"[0, 27847, 282, 75, 24, 67, 1266, 5, 1623, 280...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,czjeljo,0.104,10.0,"[0, 2709, 162, 16, 5, 1762, 9, 3031, 8066, 6, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [4]:
input_ids, attention_mask = np.stack(data_df.input_ids.values), np.stack(data_df.attention_mask.values)
scores = data_df.label.values

NameError: name 'np' is not defined

In [3]:
from src.dataset import JigsawDataset

In [6]:
data = JigsawDataset(
    data_dir,
    38788,
    32,
    shuffle=True)
dataset = data.dataset

In [7]:
iterator = dataset.as_numpy_iterator()

In [8]:
ex = next(iterator)

In [9]:
ex

(array([[[    0,     1],
         [ 2847,     1],
         [  745,     1],
         ...,
         [    1,     0],
         [    1,     0],
         [    1,     0]],

        [[    0,     1],
         [  133,     1],
         [  129,     1],
         ...,
         [    1,     0],
         [    1,     0],
         [    1,     0]],

        [[    0,     1],
         [11990,     1],
         [   47,     1],
         ...,
         [    1,     0],
         [    1,     0],
         [    1,     0]],

        ...,

        [[    0,     1],
         [20441,     1],
         [   35,     1],
         ...,
         [    1,     0],
         [    1,     0],
         [    1,     0]],

        [[    0,     1],
         [ 2847,     1],
         [   99,     1],
         ...,
         [    1,     0],
         [    1,     0],
         [    1,     0]],

        [[    0,     1],
         [  100,     1],
         [ 5170,     1],
         ...,
         [    1,     0],
         [    1,     0],
         [    1,     0]]], dtype=int32),
 array([0.19170727, 0.21526724, 0.24022576, 0.270254  , 0.04118156,
        0.0588308 , 0.06177234, 0.04118156, 0.06177234, 0.07570139,
        0.06266759, 0.06177234, 0.02287864, 0.        , 0.        ,
        0.02059078, 0.20880792, 0.2500309 , 0.21187614, 0.22649857,
        0.1029539 , 0.08236312, 0.08236312, 0.08236312, 0.06177234,
        0.06863593, 0.06177234, 0.06863593, 0.04118156, 0.04118156,
        0.04118156, 0.06177234], dtype=float32))

In [ ]:
data = pd.read_csv('')